.vscode/
.idea/*
Java/weka.jar
Java/.idea/*
venv/
*__pycache__
Game/Cython/*.c
Game/Cython/*.pyd
Game/Cython/build/*
Model/Pytorch/Data/*.c
Model/Pytorch/Data/*.pyd
Model/Pytorch/Data/build/
*ipynb_checkpoint*
.ignore/
*.o
*.d
*.so
*.dll
*.tar
*.zip
